<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Feel free to express what's on your mind!</p>
    </header>
    <main>
      <div id="container">
        <div id="btn-container">
          <a href="/new-message">
            <button>New Message</button>
          </a>
        </div>
  
        <!-- message section  -->
        <section>
          <!-- message cards  -->
          <% messages.forEach(function(message){ %>
            <div class="message-cards">
              <h3><%= message.title %></h3>
              <p><%= message.content %></p>
              <div>
                <p><%= message.user_name %></p>
                <p><%= message.date_adde %></p>
              </div>
            </div>
          <% }); %>
         
        </section>
      </div>
    </main>
  </body>
</html>
